
# This is a sample Pipfile, which is used to manage Python dependencies.
# It specifies the source of packages, the required packages, and the Python version.
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tweepy = "*"
pylint = "*"
black = "*"
isort = "*"
langchain-openai = "*"
langchain-community = "*"
langchain = "*"
langchain-ollama = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
